*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: #f3f3f3;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  position: relative;
  text-decoration: none;
}

.navbar {
  background-color: #0a6ebd;
  padding: 1rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  color: white;
  font-size: 1.25em;
}

#logo:hover {
  opacity: 0.85rem;
}

#toggleNav {
  display: none;
  user-select: none;
}

.menuBtn {
  color: white;
  font-size: 1.25em;
  display: none;
}

.nav-links {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
}

.nav-links li {
  list-style: none;
  padding: .25rem 1rem;
}

.nav-links li:hover {
  background-color: #00337C;
  transition: 0.3s ease;
}

.nav-links li {
  padding: 5px 14px;
}

.nav-links li a {
  font-size: 1rem;
  color: #f6f1f1;
}

@media only screen and (max-width: 736px) {
  .nav-links {
    display: none;
    position: absolute;
    background-color: #0a6ebd;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }

  .nav-links li:hover {
    display: inline-block;
    background-color:#00337C;
    transition: 0.3s ease;
  }

  .nav-links li + li {
    margin-top: 12px;
  }

  .menuBtn {
    display: block;
    width: 100%;
  }

  #toggleNav:checked ~ .nav-links {
    display: block;
  }
}
